.myslider {	
	#carousel {
		margin-top: 50px;
		overflow: hidden;
		position: relative;
		ul {
			list-style-type: none;
			width: 2000px;
			height: 200px;
			overflow: hidden;
			padding: 0;
			margin: 0;
			li {
				float: left;
				text-align: center;
				display: flex;
				overflow: hidden;
				background-color: #d6dadc;
				.carousel-item {
					display: flex;
					width: 600px;
					height: 200px; 
					.carousel-img {
						width: 360px;
						height: 100%;
						.layer {
							display: block;
							background-color: rgba(230, 230, 230, 0.5);
							width: 100%;
							height: 100%;
							cursor: pointer;
							&:hover {
								background-color: rgba(0, 0, 0, 0.0);
								i.fa {
									visibility: visible;
								}
							}
							i.fa {
								background-color: rgba(15, 19, 15, 0.6);
								color: white;
							  	border-radius: 50%;
							  	margin: 0;
							  	font-size: 25px;
							  	right: 35%;
							  	height: 40px;
							  	width: 40px;
							  	line-height: 40px;
								visibility: hidden;
								margin-top: 80px;
							}
						}
					}
					.img-1 {
						background: url("../images/sound-1.png") 0/cover no-repeat;
					}
					.img-2 {
						background: url("../images/sound-2.png") 0/cover no-repeat;
					}
					.img-3 {
						background: url("../images/img-3.png") 0/cover no-repeat;
					}
					.img-4 {
						background: url("../images/img-4.png") 0/cover no-repeat;
					}
					.img-5 {
						background: url("../images/img-5.png") 0/cover no-repeat;
					}
					.img-6 {
						background: url("../images/img-6.png") 0/cover no-repeat;
					}
					.img-7 {
						background: url("../images/img-7.png") 0/cover no-repeat;
					}
					.img-8 {
						background: url("../images/img-8.png") 0/cover no-repeat;
					}
					.carousel-text {
						width: 240px;
						height: 100%;
						font-size: 11px;
						padding: 20px;
						margin: 10px;
						a {
							color: #cdb49a;
						}
					}
				}
			}	
		}
	}
	.squares {
		margin-top: 30px;
		display: flex;
		justify-content: flex-end;
		.square {
			width: 20px;
			height: 20px;
			background: #e2e2e2;
			margin-right: 5px;
			&:hover, &:active{
				background: #a2baba;
				cursor: pointer;
			}
		}
	}
}